<%- include('partials/header') %>

<h3>Welcome back!</h1>
<form class="form-inline" action="/sign_in" method="POST">
  <div class="form-group m-2">
    <input type="text" class="form-control" name="username" placeholder="Enter username">
  </div>
  <button type="submit" class="btn btn-primary m-2">Sign in</button>
</form>

<%- include('partials/footer') %>